
@{
    ViewBag.Title = "Quản lý lớp học";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/css/datatable")

<div class="card card-secondary">
    <div class="card-header">
        <div class="row">
            <div class="col-6">
                <b>Xem danh sách lớp học trong học kỳ</b>
            </div>
            <div class="col-6">
                <div class="row">
                    <label for="selectedSemester" class="col-sm-2 col-form-label">Học kỳ</label>
                    <div class="col-sm">
                        <div class="input-group input-group-sm">
                            <select class="form-control select2bs4" id="selectedSemester" onchange="LoadClassBySemesterId()">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.card-header -->

    <div class="card-body">
        <div id="loading" class="text-center" style="display: none">
            <i class="fas fa-3x fa-circle-notch fa-spin"></i>
            <p>Đang tải dữ liệu, vui lòng đợi</p>
        </div>
        <div id="mainGroup">
            <div class="text-right">
                <a class="btn btn-primary" role="button" href="@Url.Action("Info", "Class")">
                    <i class="fas fa-plus"></i>
                    Tạo lớp học
                </a>
            </div>
            <hr />
            <table id="result" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Tên lớp học</th>
                        <th>Giáo viên chủ nhiệm</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    var _ID_SEMESTER = @ViewBag.IdSemester;
    var linkStudent = '@Url.Action("Student", "Class")';
    var linkInfo = '@Url.Action("Info", "Class")';
</script>

@section scripts {
    @Scripts.Render("~/js/datatable")
    <script src="~/Assests/Admin/js/pages/ListClass.js"></script>
}