<a href="@Url.Action("Index", "Score")" class="btn btn-sq-lg btn-primary">
    <i class="fa fa-graduation-cap fa-3x"></i><br />
    Xem điểm học sinh
</a>
<a href="@Url.Action("Index", "Timeline")" class="btn btn-sq-lg btn-primary">
    <i class="fas fa-calendar fa-3x"></i><br />
    Xem thời khoá biểu
</a>
<a href="@Url.Action("Index", "Attendance")" class="btn btn-sq-lg btn-primary">
    <i class="fas fa-user-check fa-3x"></i><br />
    Xem điểm danh
</a>

<a href="@Url.Action("Student", "Info")" class="btn btn-sq-lg btn-primary">
    <i class="fa fa-user fa-3x"></i><br />
    Đổi thông tin học sinh
</a>
<a href="@Url.Action("Index", "Report")" class="btn btn-sq-lg btn-primary">
    <i class="fas fa-sticky-note fa-3x"></i><br />
    Báo cáo
</a>
<a href="#" onclick="OpenInfoModal()" class="btn btn-sq-lg btn-success">
    <i class="fa fa-info fa-3x"></i><br />
    Đổi thông tin cá nhân
</a>
<a href="#" onclick="OpenPasswordModal()" class="btn btn-sq-lg btn-success">
    <i class="fa fa-unlock-alt fa-3x"></i><br />
    Đổi mật khẩu
</a>
<a href="@Url.Action("Index", "Logout")" class="btn btn-sq-lg btn-danger">
    <i class="fas fa-sign-out-alt fa-3x"></i><br />
    Thoát
</a>